.btn {
    border-color: transparent;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 15px;
    background-color: rgb(212, 130, 242);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(.4, 0, .2, 1);

}

.btn:hover {
    background-color: rgb(187, 20, 248);
}